.App {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34 ;
}
.container {
    background-color: bisque;
    border: 1px black;
    height: 80vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.todoForm{
    display: flex;
    justify-content: space-around;
    width: 450px;
}

input {
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    border: none;
}

button{
    border: none;
    padding: 8px;
    border-radius: 15px;
    margin: 0 5px;
}

.allTodos{
    list-style: none;
    margin: 0;
    padding: 0;
}



.todoText{
    flex: 1;
}
